doctype html
html(lang="en")
  head
    title Homepage | Integrating With HubSpot I Practicum
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Custom Objects Records

    a(href="/update-cobj") Add to this table
    
    if records && records.length > 0
      table
        thead
          tr
            th Skill ID
            th Name
            th Vendor
        tbody
          each record in records
            tr
              td= record.properties.id
              td= record.properties.name
              td= record.properties.vendor
    else
      p No records found.
